/* *** RESET *** */

html {
    min-height: 100%;
    position: relative;
}

body {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    display: flex;
}

/* *** END RESET *** */

header {
    flex: 100%;
    background-color: #39D9EB;
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header * {
    padding: 10px;
    display: inline-block;
    color: #0E01FF;
}

header img {
    max-height: 60px;
}

nav {
    flex: 1 3 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: rgb(112, 172, 190);
}

nav * {
    text-align: center;
    align-self: stretch;
}

nav p {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #555;
    color: white;
}

article {
    display: none;
    overflow-x: scroll;
    padding: 10px 15px;
    background: linear-gradient(#E0FFD9, #F3FAFF);
}

article:target {
    display: block;
    flex: 3 1 800px;
}

footer {
    color: #000000;
    background: linear-gradient(#e66465, #9198e5);
    padding: 15px;
    margin-top: 25px;
    border-top: 1px solid #000000;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/* *** END MAIN ELEMENTS *** */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2{
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

table {
    table-layout: fixed;
}

table input {
    background-color: transparent;
    border: none;
    font-family: inherit;
    width: 100%;
    font-size: 1em;
    display: block;
    margin: 0;
    height: inherit;
    padding: 0 5px;
    box-sizing: border-box;
}

input:invalid  {
    border: 2px solid #d24949;
}

input[type="search"] {
    background-image: url('http://i47.tinypic.com/r02vbq.png');
    background-repeat: no-repeat;
    background-position: 110% center;
    padding-right: 30px;
    box-sizing: border-box;
}

thead tr {
    background-color: #C2EAC9;
}
tr {
   background-color: #FCEBDD;
}

tr:nth-child(even) {
    background-color: #EEDBEE;
}

tr:hover {
    background-color: rgba(120, 121, 255, 0.54);
}


/* *** PRINT *** */

@media print {
    body {
        color: #000000;
        background: #ffffff;
    }

    header, footer, nav, input[type="search"], thead select {
        display: none;
    }

    table input, thead tr, table tbody tr, tbody tr:nth-child(even), tbody tr:nth-child(odd), thead tr, tbody tr:hover, tbody tr:hover td {
        background: none;
        background-color: transparent;
    }

    tbody tr:last-child, td:last-child, th:last-child {
        display: none;
    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
    }

    th, td {
        text-align: left;
        border-top: 1px solid #ababab;
        border-bottom: 1px solid #ababab;
    }

    article {
        overflow-x: auto;
        background: none;
    }

    select {
        background-color: inherit;
        border: none;
        -webkit-appearance: none;
    }
}

/* *** END PRINT *** */
